on init 
    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 10

on property:sys.boot_completed=1
setprop sys.io.scheduler maple
    write /sys/devices/system/cpu/cpu0/cpufreq/scaling_governor "schedutil"
    write /sys/devices/system/cpu/cpufreq/schedutil/up_rate_limit_us 600
    write /sys/devices/system/cpu/cpufreq/schedutil/down_rate_limit_us 18000
    write /sys/devices/system/cpu/cpufreq/schedutil/iowait_boost_enable 0


    write /dev/stune/foreground/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.prefer_idle 1
    write /dev/stune/top-app/schedtune.boost 1

    #TCP
    write /proc/sys/net/ipv4/tcp_congestion_control westwood
 
    # Adreno Idler
    write sys/module/adreno_idler/parameters/adreno_idler_idleworkload 6000
    write sys/module/adreno_idler/parameters/adreno_idler_idlewait 18

    # Entorpy
    write /proc/sys/kernel/random/read_wakeup_threshold 128
    write /proc/sys/kernel/random/write_wakeup_threshold 896

    # zram
    write /proc/sys/vm/page-cluster 0
    write /sys/block/zram0/comp_algorithm lz4
    write /sys/block/zram0/max_comp_streams 8
    
    # Disable CRC
    write /sys/module/mmc_core/parameters/use_spi_crc 0
 
    # Input Boost Configuration   
     write /sys/module/cpu_input_boost/parameters/input_boost_freq "0:652800"
     write /sys/module/cpu_input_boost/parameters/dynamic_stune_boost 4 
     write /sys/module/cpu_input_boost/parameters/input_boost_duration 100

    # Disable Fsync
    write sys/module/sync/parameters/fsync_enabled N

     # Saturation value
    write sys/devices/platform/kcal_ctrl.0/kcal_sat 280

    # Disable TouchBoost
    write /sys/module/msm_performance/parameters/touchboost 0

     # Set initial GPU freq
    write /sys/class/kgsl/kgsl-3d0/default_pwrlevel 6
